NEXT_PUBLIC_API_URL=http://localhost:1337
NEXT_PUBLIC_DATABASE_URL=postgres://strapi:strapi@localhost:5432/strapi?synchronize=true
NEXTAUTH_URL=http://localhost:3000
GOOGLE_CLIENT_ID="172504016354-drmbvbb8heh5sl5jrirqof2ki4b74l07.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="KXSq88Gh2peGqar2MtDsHccy" 